<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">CIDS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/home"
        routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"routerLink="/temas"
        routerLinkActive="active">Temas</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"routerLink="/alumnos"
        routerLinkActive="active">Alumnos</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"routerLink="/profesores"
        routerLinkActive="active">Profesores</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"routerLink="/puntajes" routerLinkActive="active">Puntajes</a>
      </li>
    </ul>
  </div>
</nav>
